body {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}
#wrapper {
  text-align: center;
}
.box-wrapper {
  display: inline-block;
  padding: 50px;
  margin: 55px;
  border-radius: 50px;
  border: 15px solid #67c3e9;
  background: linear-gradient(to bottom, #67c3e9 0%, #9dd5d1 100%);
  box-shadow: inset 0 0 0 15px #f7f7f7, 15px 15px 40px -15px rgba(0, 0, 0, 0.5);
  position: relative;
}
.box-wrapper:before {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}
.box-wrapper:after {
  content: '';
  clear: both;
}
.box-wrapper .box-alphabet {
  color: #67c3e9;
  font-family: sans-serif;
  font-size: 120px;
  line-height: 300px;
  text-align: center;
  width: 300px;
  height: 300px;
  float: left;
  margin: 38px;
  border-radius: 5px;
  background-color: #f7f7f7;
  box-shadow: inset 3px 3px 20px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 0 rgba(255, 255, 255, 0.5);
  position: relative;
  z-index: 1;
}
.box-wrapper .box-alphabet:nth-child(odd) {
  clear: left;
}
.box-wrapper .box-alphabet span {
  text-shadow: 0 2px 0 #9b9b9b, -2px 0 0 #9b9b9b, 0 -1px 0 #9b9b9b;
}
